{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Employees</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <!-- Header -->
    {% include 'navbar.html' %}
</head>
<body>
    <h1>Manage Users</h1>
    <h2>Register Employee</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">Submit</button>
        </form>
        <h1>Employee List</h1>
        <table>
            {% for employee in employees %}
            <tr>
                <td>Name: {{ employee.firstName }} {{ employee.lastName }}</td>
            </tr>
            <tr>
                <td>Email: {{ employee.email }}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>
