{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Schedule</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'scripts/add_shift_time.js' %}"></script>
    <!-- Header -->
    {% include 'navbar.html' %}
</head>
<!-- Existing Shifts -->
<h2>Existing Shifts</h2>
<ul>
    {% for shift in shifts %}
    <li>{{ shift.date }} - {{ shift.start_time }} to {{ shift.end_time }}</li>
    {% endfor %}
</ul>

<!-- Form to add new shift -->
<h2>Add New Shift</h2>
<form method="post">
    {% csrf_token %}
    {{ shift_form.as_p }}
    <button type="submit">Create Shift</button>
</form>

